.comitte {
    background-image: url(../../images/comitte/comitte-mobile-bg.png);
    background-color: hsl(120, 2%, 29%);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    h1 {
        font-size: 1.3rem;
        font-size: clamp(1.3rem, calc(3vw+1rem), 2rem);
        text-align: center;
        padding-block: 2em;
    }
    .row {
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 1em;
        padding-bottom: 2em;
        .card {
            flex-basis: 300px;
            flex-grow: 0;
            padding: 0.5em;
            background-color: var(--clr-White);
            color: var(--clr-hashligh);
            align-self: stretch;
            .card__position {
                margin-top: 0.5em;
                font-size: 0.75rem;
                font-size: clamp(0.75rem, calc(3vw+0.85rem), 1rem);
            }
            .card__number {
                font-size: 0.75rem;
                font-size: clamp(0.75rem, calc(3vw+0.85rem), 1rem);
            }
        }
    }
}
@media (min-width: 48rem) {
    .comitte {
        background-image: url(../../images/comitte/comitte-desktop-bg.png);
        background-position: center;
    }
}
