.news {
	padding: 2rem 0;
	.newsPost__container {
		@include flex(flex, row, center, flex-start);
		box-shadow: var(--bs1);
		border-radius: 10px;

		.pos {
			color: var(--txt-primary);
			padding: 0.5em;
			transition: all 0.5s linear;
			border: 1px solid var(--boder-primary);
			border-right: none;
			min-height: 320px;
			&:last-child {
				border-right: 1px solid var(--boder-primary);
			}
			.pos__righside {
				.category {
					font-size: 1rem;
					color: var(--primary) !important;
					background-color: var(--accent);
					width: max-content;
					padding: .2em .6em;
				}
				.pos__title {
					font-size: 1rem;
					font-size: clamp(0.85rem, calc(3vw+1rem), 1rem);
					color: var(--txt-secondary);
					line-height: 1.6;
					font-weight: 300;
					margin-top: 1em;
					&:hover {
						color: var(--secondary);
					}
				}
				.pos__paragraph {
					margin-top: 1em;
					font-weight: 400;
					color: var(--txt-primary);
				}
				.tagline {
					@include flex(flex, row, space-between, center);
					gap: 1em;
					margin-top: 1em;
					color: var(--txt-accent);
					font-size: 0.85rem;
					font-size: clamp(0.65rem, calc(3vw+1rem), 0.85rem);
					font-weight: 100;
					.fa,
					.fas {
						margin-right: 2px;
						font-size: 0.75em;
						font-weight: 200;
						color: var(--txt-accent);
						opacity: 0.8;
						&:hover {
							color: var(--secondary);
						}
					}
					&:hover {
						color: var(--primary);
					}
				}
			}
			&:hover {
				background-color: var(--clr-ligh);
				box-shadow: var(--bs);
				transition: all 0.5s linear;
			}
		}
	}
	@media (max-width: 768px) {
		.newsPost__container {
			@include flex(flex,column, center, flex-start);
		}
	}
	.newsPost__container--modifier {
		width: 80%;
		margin: 0 auto;
		padding: 2em 0;
		.pos--modifier {
			flex: 1 1 0;
			border: none;
			&:last-child {
				border-right: 0px solid var(--boder-primary);
			}
			.pos__righside {
				.category--modifier {
					background-color: var(--primary);
					color: var(--txt-secondary) !important;
					border-bottom: .2px solid green;
					position: relative;
					width: 100%;
					&::before {
						content: "";
						position: absolute;
						background: url();
						width: 100%;
						height: 1%;
						bottom: 0;
					}
				}
			}
		}
	}
}
