@import url(//fonts.googleapis.com/earlyaccess/notosansbengali.css);
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  outline: none;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  --ff-primary: "Heebo", sans-serif;
  --ff-secondary: "Source Sans Pro", sans-serif;
  --ff-family: "Spartan", sans-serif;
  --fw-reg: 400;
  --fw-bold: 500;
  --fw-bolder: 700;
  --fw-ligh: 200;
  --fw-reg: 400;
  --fw-bold: 700;
  --fw-bolder: 900;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --c-green-0: hsl(141, 88%, 60%);
  --c-green-1: hsl(141, 88%, 40%);
  --c-green-2: hsl(141, 88%, 30%);
  --c-green-3: hsl(141, 88%, 20%);
  --c-green-01: hsl(159, 88%, 32%, 15%);
  --clr-ligh: #a7c5eb;
  --clr-red: #d7385e;
  --clr-greeny: #0a993c;
  --clr-radish: #0a993c;
  --clr-subradish: #ecaece;
  --clr-lessradish: #c1c8c7;
  --clr-dark: #1d1d1f;
  --clr-hash: #dfdfe0;
  --clr-hashligh: #3c3c3e;
  --clr-backgold: #0b2735;
  --clr-back: #a3ddcb;
  --clr-VeryDarkMagenta: hsl(300, 43%, 22%);
  --clr-SoftPink: hsl(333, 80%, 67%);
  --clr-DarkGrayishMagenta: hsl(303, 10%, 53%);
  --clr-LightGrayishMagenta: hsl(300, 24%, 96%);
  --clr-White: hsl(0, 0%, 100%);
  --clr-ligh: #f8efd4;
  --clr-orange: #e49f1f;
  --clr-red: #d7385e;
  --clr-dark: #132743;
  --clr-hash: #2d3541;
  --clr-bg: #c5f8d7;
  --clr-secbg: #252954;
  --bgglass-clr: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
  --bgglass2-clr: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.486)
  );
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  --bs1: 0.25em 0.25em 0.75em rgba(251, 251, 251, 0.25), 0.125em 0.125em 0.25em rgba(250, 249, 249, 0.15);
  --bsglass: 0 1rem 2rem rgba(0, 0, 0, 0.5), -1px -1px 2px #aaa, 1px 1px 2px #555;
  --border-radius: 1.3rem;
  --delay: 0s;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 2.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* general */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
  --flow-space: 0.75rem;
}

.container {
  width: 95%;
  margin: 0 auto;
  max-width: 1650px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}

.border {
  border: 2px solid red;
}

.border2 {
  border: 1px solid orange;
}

.paragraph {
  font-size: 1rem;
  font-size: clamp(0.85rem, calc(3vw+1rem), 1rem);
  font-weight: var(--var-ligh);
}

::placeholder {
  color: var(--clr-dark);
  font-size: 1rem;
  font-size: clamp(0.85rem, calc(3vw+1rem), 1rem);
  font-weight: var(--var-ligh);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 1;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.btn {
  display: inline-block;
  padding: 1em 2.4em;
  background: var(--clr-ligh);
  text-decoration: none;
  color: var(--clr-dark);
  font-weight: var(--fw-bolder);
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-size: clamp(0.2rem, calc(3vw+1rem), 0.8rem);
  letter-spacing: 2px;
  font-weight: var(--fw-bolder);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

body {
  margin: 0;
  font-family: "Noto Sans Bengali", sans-serif;
  font-size: var(--fs-body);
  line-height: 2;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.skip-to-content {
  position: absolute;
  z-index: 9999;
  background: var(--clr-white);
  color: var(--clr-dark);
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-100%);
  transition: transform 250ms ease-in;
}

.skip-to-content:focus {
  transform: translateY(0);
}

/* colors */
.bg-dark {
  background-color: var(--clr-dark);
}

.bg-accent {
  background-color: var(--clr-light);
}

.bg-white {
  background-color: var(--clr-white);
}

.text-dark {
  color: var(--clr-dark);
}

.text-accent {
  color: var(--clr-light);
}

.text-white {
  color: var(--clr-white);
}

/* typography */
.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-cond {
  font-family: var(--ff-sans-cond);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-500);
  text-transform: uppercase;
  letter-spacing: 4.72px;
}

.numbered-title span {
  margin-right: 0.5em;
  font-weight: 700;
  color: var(--clr-white);
}

/* ------------------- */
/* Reset               */
/* ------------------- */
/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.btn_1 {
  position: relative;
  overflow: hidden;
  transition: 0.5s linear;
}

.btn_1::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #616161;
  transition: 0.5s;
  z-index: -1;
}

.btn_1:hover:after {
  width: 100%;
}

.btn_1:hover {
  color: white;
  transition: 0.5s;
}

/*btn-2*/
.btn_2 {
  position: relative;
  overflow: hidden;
  transition: 1.5s ease-in-out;
}

.btn_2::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #616161;
  z-index: -1;
  transition: 0.5s;
}

.btn_2:hover:after {
  width: 100%;
  transition: 0.5s ease-in-out;
}

.btn_2:hover {
  color: white;
  transition: 0.5s;
}

/*btn-3*/
.btn_3 {
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

.btn_3::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0%;
  top: 0;
  left: 0;
  background-color: #616161;
  transition: 0.5s;
  z-index: -1;
}

.btn_3:hover:after {
  height: 100%;
}

.btn_3:hover {
  color: var(--clr-radish);
  transition: 0.5s;
}

/*btn-4*/
.btn_4 {
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

.btn_4::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0%;
  bottom: 0;
  left: 0;
  background-color: #616161;
  z-index: -1;
  transition: 0.5s;
}

.btn_4:hover:after {
  height: 100%;
}

.btn_4:hover {
  color: white;
  transition: 0.5s;
}

/*btn-5*/
.btn_5 {
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

.btn_5::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #616161;
  transition: 0.5s;
  z-index: -1;
}

.btn_5:hover:after {
  width: 50%;
}

.btn_5::before {
  position: absolute;
  content: '';
  width: 0%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #616161;
  transition: 0.5s;
  z-index: -1;
}

.btn_5:hover:before {
  width: 50%;
}

.btn_5:hover {
  color: white;
  transition: 0.5s;
}

/*btn-6*/
.btn_6 {
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

.btn_6::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0%;
  top: 0;
  left: 0;
  background-color: #616161;
  transition: 0.5s;
  z-index: -1;
}

.btn_6:hover:after {
  height: 50%;
}

.btn_6::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 0%;
  bottom: 0;
  left: 0;
  background-color: #616161;
  transition: 0.5s;
  z-index: -1;
}

.btn_6:hover:before {
  height: 50%;
}

.btn_6:hover {
  color: white;
  transition: 0.5s;
}

.social-icon {
  width: 40px;
  height: 24px;
  background-repeat: no-repeat;
  transition: 0.16s ease-in-out;
  cursor: pointer;
}

.social-icon-facebook {
  background-image: url(/assets/shared/desktop/icon-facebook-color.svg);
}

.social-icon-youtube {
  background-image: url(/assets/shared/desktop/icon-youtube.svg);
}

.social-icon-twitter {
  background-image: url(/assets/shared/desktop/icon-twitter.svg);
  width: 24px;
  height: 20px;
}

.social-icon-pinterest {
  background-image: url(/assets/shared/desktop/icon-pinterest.svg);
}

.social-icon-insta {
  background-image: url(/assets/shared/desktop/icon-instagram.svg);
}

.social-icon-facebook:hover {
  background-image: url(/assets/shared/desktop/icon-facebook-color.svg);
}

.social-icon-youtube:hover {
  background-image: url(/assets/shared/desktop/icon-youtube-color.svg);
}

.social-icon-twitter:hover {
  background-image: url(/assets/shared/desktop/icon-twitter-color.svg);
}

.social-icon-pinterest:hover {
  background-image: url(/assets/shared/desktop/icon-pinterest-color.svg);
}

.social-icon-insta:hover {
  background-image: url(/assets/shared/desktop/icon-instagram-color.svg);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--c-green-1);
  font-size: clamp(0.75rem, calc(1.5vw+1rem), 2rem);
  color: #ccffcc;
  text-transform: uppercase;
  padding-inline: 2em;
  position: relative;
}

.hamburger {
  display: block;
}

nav {
  display: none;
  justify-content: flex-end;
  align-items: baseline;
  padding: .5rem;
  gap: 1rem;
  background-color: var(--c-green-1);
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: var(--c-violent-1);
  font-family: inherit;
  font-size: clamp(0.75rem, calc(1.5vw+1rem), 2rem);
  font-weight: var(--fw-light);
  cursor: pointer;
  padding: 0;
}

.dropdown.active > .link,
.link:hover {
  color: var(--c-violent-2);
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + .25rem);
  left: 0;
  z-index: 999;
  background-color: white;
  padding: .75rem 2rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-menu .dropdown-heading {
  font-weight: var(--fw-bold);
  color: var(--c-violent-1);
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  padding-left: 1em;
}

.link--sub {
  color: red;
  position: relative;
}

.link-sub-sub-wrapper {
  display: none;
  position: absolute;
  right: 100%;
  top: 0%;
  padding: .75rem;
}

.link-sub-wrapper:hover .link-sub-sub-wrapper {
  display: flex;
}

.login-form > input {
  margin-bottom: .5rem;
}

.toggle {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 999;
}

@media (min-width: 35em) {
  .hamburger {
    display: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  nav {
    display: flex;
  }
  .dropdown-menu {
    left: -350px;
  }
  .information-grid {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 2.5rem;
  }
}

.hero-section {
  height: 100vh;
  position: relative;
  background: var(--clr-bg);
}

.hero-section .slider {
  z-index: -1;
}

.glass-container {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 2em 0;
  position: absolute;
}

.glass-container .glass-date {
  color: var(--clr-hash);
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: var(--clr-dark);
  font-weight: var(--fw-bold);
}

.glass-container .glass-card {
  width: 95%;
  margin: 0 auto;
  text-transform: capitalize;
  background: var(--bgglass-clr);
  backdrop-filter: blur(0.5rem);
  box-shadow: var(--bsglass);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.glass-container .glass-card .glassleft-side {
  display: none;
}

.glass-container .right-side {
  width: 100%;
  padding: 0 0.5em;
}

.glass-container .right-side .right-side-header .right-side-header__title {
  color: var(--clr-dark);
}

.glass-container .right-side .right-side-header .search {
  width: 100%;
}

.glass-container .right-side .right-side-header .search .search-tag-wrapper {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.glass-container .right-side .right-side-header .search .search-tag-wrapper input {
  outline: none;
  border: none;
  vertical-align: middle;
  /* or whatever else value */
  box-sizing: border-box;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0.55em 1em;
  color: var(--clr-hash);
  background: var(--bgglass-clr);
  backdrop-filter: blur(0.8rem);
  box-shadow: var(--bs);
  width: 100%;
}

.glass-container .right-side .right-side-header .search .search-tag-wrapper .search__button {
  margin-top: 0.5em;
  font-size: 1rem;
  width: 100%;
  height: 2.5rem;
  background-color: var(--clr-radish);
  color: var(--clr-ligh);
  border: none;
  outline: none;
  box-shadow: var(--bs);
  cursor: pointer;
}

.glass-container .right-side .counter-wraper {
  display: none;
}

.glass-container .right-side .counter-wraper .counterr {
  display: none;
}

.glass-container .right-side .eventMessage {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 100px;
  padding: 1em;
  width: 100%;
  margin-top: 0.5em;
  color: var(--clr-hash);
  background: var(--bgglass-clr);
  box-shadow: var(--bs);
  margin-bottom: 0.5em;
}

.glass-container .right-side .eventMessage .sub {
  margin-left: 1em;
}

.counterr {
  display: none;
}

@media (min-width: 900px) {
  .hero-section {
    height: 100vh;
  }
  .slider {
    position: relative;
  }
  .glass-container {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .glass-container .glass-card {
    width: 70%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }
  .glass-container .glass-card .glassleft-side {
    display: block;
    width: 30%;
    margin-left: 0.5em;
  }
  .glass-container .glass-card .right-side {
    width: 80%;
  }
  .glass-container .glass-card .right-side .right-side-header .right-side-header__title {
    color: var(--clr-dark);
  }
  .glass-container .glass-card .right-side .right-side-header .search {
    width: 100%;
  }
  .glass-container .glass-card .right-side .right-side-header .search .search-tag-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }
  .glass-container .glass-card .right-side .right-side-header .search .search-tag-wrapper input {
    outline: none;
    border: none;
    vertical-align: middle;
    /* or whatever else value */
    box-sizing: border-box;
    height: 2.5rem;
    font-size: 1rem;
    padding: 0.55em 1em;
    color: var(--clr-hash);
    background: var(--bgglass-clr);
    backdrop-filter: blur(0.8rem);
    box-shadow: var(--bs);
    width: 80%;
  }
  .glass-container .glass-card .right-side .right-side-header .search .search-tag-wrapper .search__button {
    font-size: 1rem;
    width: 20%;
    height: 2.5rem;
    background-color: var(--clr-radish);
    color: var(--clr-ligh);
    border: none;
    outline: none;
    box-shadow: var(--bs);
    margin-top: 0;
  }
  .glass-container .glass-card .right-side .counter-wraper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .glass-container .glass-card .right-side .counter-wraper .counterr + .counterr {
    margin-left: 1em;
  }
  .glass-container .glass-card .right-side .counter-wraper .counterr {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    flex-grow: 1;
    padding: 1em;
    margin-top: 0.5em;
    color: var(--clr-hash);
    background: var(--bgglass-clr);
    backdrop-filter: blur(0.8rem);
    box-shadow: var(--bs);
  }
  .glass-container .glass-card .right-side .counter-wraper .counterr .number-count {
    margin-top: 3.5em;
  }
  .glass-container .glass-card .right-side .counter-wraper .counterr .counter__icon {
    width: 58px;
    height: 58px;
    border-radius: 0px 29px 29px 29px;
    transform: rotate(45deg);
    background: var(--clr-dark);
    display: inline-block;
    transition: all 0.5s ease 0s;
    position: relative;
    margin-top: 15px;
  }
  .glass-container .glass-card .right-side .counter-wraper .counterr .counter__icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(-45deg);
    margin-left: -11px;
    margin-top: -14px;
    color: #ef532a;
    font-size: 29px;
  }
  .glass-container .glass-card .right-side .eventMessage {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    height: 100px;
    padding: 1em;
    width: 100%;
    margin-top: 0.5em;
    color: var(--clr-hash);
    background: var(--bgglass-clr);
    box-shadow: var(--bs);
    margin-bottom: 0.5em;
  }
  .glass-container .glass-card .right-side .eventMessage .sub {
    margin-left: 1em;
  }
}

::placeholder {
  color: var(--clr-dark);
  font-size: 1rem;
  font-size: clamp(0.85rem, calc(3vw+1rem), 1rem);
  font-weight: var(--var-ligh);
}

.contactEmail {
  background-color: var(--c-green-3);
  color: var(--c-green-0);
}

.contactEmail .flex-wrap {
  padding-block: 2em;
  justify-content: space-around;
}

.contactEmail .contact-top {
  flex-basis: 120px;
}

.history {
  padding: 2em;
  background-color: var(--c-green-01);
}

.history .flex-wrap h1 {
  text-align: center;
  font-size: 1.3rem;
  font-size: clamp(1.3rem, calc(3vw+1rem), 2rem);
  line-height: 1.5;
}

.history .flex-wrap p {
  margin-top: 2em;
  font-size: 1rem;
  font-size: clamp(1rem, calc(3vw+1rem), 1.2rem);
  text-align: justify;
}

.history .flex-wrap button {
  padding: 0.5em 2em;
  border: none;
  background-color: var(--c-green-1);
  cursor: pointer;
}

@media (min-width: 1128px) {
  .history .flex-wrap {
    margin-left: 10rem;
  }
}

.news {
  padding: 2em 0;
}

.news .title {
  position: relative;
  line-height: 1;
  color: var(--clr-ligh);
}

.news .title::before {
  content: '';
  position: absolute;
  width: 2em;
  height: 2px;
  background-color: var(--clr-red);
  margin-top: -0.5em;
}

.news .title .subtitle {
  color: var(--clr-red);
  font-weight: bold;
}

.news main {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1em;
}

.news main .lefside {
  width: 550px;
  flex-grow: 1;
  background: var(--clr-secbg);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.news main .lefside .lefside__header {
  background-color: var(--clr-ligh);
  justify-content: flex-start;
  width: 100%;
  padding: 1em;
  text-transform: capitalize;
}

.news main .lefside .lefside__header h1 {
  background-image: linear-gradient(to right, #462523 -15%, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);
  color: transparent;
}

.news main .lefside .pos {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1em;
  padding: 1em;
  position: relative;
  transition: all 0.5s linear;
}

.news main .lefside .pos .pos__lefside {
  width: 150px;
  flex-grow: 1;
}

.news main .lefside .pos .pos__lefside .pos__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.news main .lefside .pos .pos__righside {
  width: 300px;
  flex-grow: 1;
  padding: 0 1em;
}

.news main .lefside .pos .pos__righside .pos__title {
  color: var(--clr-ligh);
  line-height: 1.6;
}

.news main .lefside .pos .pos__righside .pos__title:hover {
  color: var(--clr-red);
}

.news main .lefside .pos .pos__righside .pos__paragraph {
  margin-top: 1em;
  font-weight: 400;
  color: var(--clr-ligh);
}

.news main .lefside .pos .pos__righside .tagline {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
  color: var(--clr-lessradish);
  font-size: 0.85rem;
  font-size: clamp(0.65rem, calc(3vw+1rem), 0.85rem);
}

.news main .lefside .pos .pos__righside .tagline .fa,
.news main .lefside .pos .pos__righside .tagline .fas {
  margin-right: 2px;
  font-size: 0.75em;
  color: var(--clr-red);
  opacity: 0.8;
}

.news main .lefside .pos .pos__righside .tagline .fa:hover,
.news main .lefside .pos .pos__righside .tagline .fas:hover {
  color: var(--clr-orange);
}

.news main .lefside .pos .pos__righside .tagline:hover {
  color: var(--clr-orange);
}

.news main .lefside .pos:hover {
  background-color: #10122b;
  box-shadow: var(--bs);
  transition: all 0.5s linear;
}

.news main .lefside .paginatinon .btn {
  background: var(--clr-greeny);
  color: var(--clr-ligh);
  padding: 0.2em 0.5em;
  margin-bottom: 1em;
}

.news main .lefside .paginatinon .active {
  background-color: var(--clr-radish);
  padding: 0.3em 1em;
}

.news main .righside {
  width: 200px;
  flex-grow: 1;
  box-shadow: var(--bs);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
}

.news main .righside .search {
  background: var(--clr-ligh);
  width: 100%;
  padding: 1em;
}

.news main .righside .search .search__title {
  text-transform: uppercase;
  border-left: 3px solid var(--clr-greeny);
  padding-left: 0.2em;
  font-size: 0.85em;
  font-size: clamp(0.76rem, calc(2vw+1rem), 0.85em);
  color: var(--clr-radish);
}

.news main .righside .search .fromcontrol {
  margin-top: 1em;
}

.news main .righside .search .fromcontrol input[type='search'] {
  border: 1px solid var(--clr-hash);
  height: 25px;
  outline: none;
}

.news main .righside .search .fromcontrol input[type='submit'] {
  border: 1px solid var(--clr-hash);
  margin-left: -4px;
  font-size: 1em;
  padding: 0.2em 2em;
  cursor: pointer;
  background: var(--clr-greeny);
  color: var(--clr-ligh);
  text-transform: uppercase;
  font-size: 0.85em;
  outline: none;
}

.news main .righside .recenpost {
  background: var(--clr-ligh);
  padding: 1em;
  width: 100%;
}

.news main .righside .recenpost .recenpost__title {
  text-transform: uppercase;
  border-left: 3px solid var(--clr-greeny);
  padding-left: 0.2em;
  font-size: 0.85em;
  font-size: clamp(0.76rem, calc(2vw+1rem), 0.85em);
  color: var(--clr-radish);
}

.news main .righside .recenpost .rpos {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  margin-top: 1em;
}

.news main .righside .recenpost .rpos .rpos__lefside {
  width: 50px;
}

.news main .righside .recenpost .rpos .rpos__lefside .rpos__image {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.news main .righside .recenpost .rpos .rpos__righside .pos__title {
  font-size: 0.85rem;
  font-weight: var(--fw-bold);
  line-height: 1.5;
}

.news main .righside .recenpost .rpos .rpos__righside .tagline {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  font-weight: 300;
}

.news main .righside .recenpost .rpos .rpos__righside .tagline .fa,
.news main .righside .recenpost .rpos .rpos__righside .tagline .fas {
  margin-right: 2px;
  font-size: 0.65rem;
  color: var(--clr-greeny);
  opacity: 0.8;
}

.news main .righside .recenpost .rpos .rpos__righside .recenpost__but {
  font-size: 0.55rem;
  border-radius: 0;
  border: 0.2px solid var(--clr-hash);
  color: var(--clr-hashligh);
  padding: 0.4em 0.7em;
  font-weight: var(--fw-ligh);
}

.letstalk {
  position: absolute;
  width: 100%;
  top: -190px;
  text-transform: capitalize;
  color: var(--clr-ligh);
}

.letstalk .letstalk-card {
  background-color: var(--clr-radish);
  padding: 4em;
  justify-content: center;
  gap: 1em;
  box-shadow: var(--bs);
}

.letstalk .letstalk-card .letstalk-card__descrip {
  width: 500px;
  max-width: 500px;
  font-size: 1rem;
  font-size: clamp(0.75rem, calc(3vw+1rem), 1rem);
  font-weight: var(--fw-ligh);
  text-align: center;
}

.letstalk .letstalk-card .letstalk--btn {
  flex-shrink: 0;
}

@media all and (min-width: 768px) {
  .letstalk .letstalk-card {
    width: 80%;
    margin: 0 auto;
    border-radius: var(--border-radius);
  }
}

.footer--container > * + * {
  margin-top: 1em;
}

footer {
  position: relative;
  font-family: var(--ff-primary);
  padding: 6em 0 1em 0;
  margin-top: 15em;
  background-color: var(--clr-dark);
  color: var(--clr-ligh);
  height: 100%;
  background: url("/images/pattern-hills.svg") bottom/100% 20% no-repeat, var(--clr-dark);
  background-repeat: no-repeat;
}

footer .footer--container .footer-nav {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

footer .footer--container .footer-nav .logo-image {
  width: 200px;
}

footer .footer--container .footer-nav .footer-nav-list {
  padding: 0;
  gap: 1em;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

@media all and (min-width: 768px) {
  footer .footer--container .footer-nav {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }
  footer .footer--container .footer-nav .logo-image {
    width: 200px;
  }
  footer .footer--container .footer-nav .footer-nav-list {
    padding: 0;
    gap: 3em;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.12em;
    font-size: 1rem;
    font-size: clamp(0.75rem, calc(3vw+1rem), 1rem);
  }
}

footer .footer--container .line {
  width: 100%;
  height: 1px;
  background-color: var(--clr-hashligh);
}

footer .footer--container .footer-alinessa {
  text-align: center;
  color: var(--clr-lessradish);
}

footer .footer--container .footer-alinessa a {
  color: var(--clr-lessradish);
  cursor: pointer;
}

footer .footer--container .footer-alinessa a :hover {
  color: #dad8d8;
}

footer .footer--container .footer-details {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1em;
  flex-wrap: wrap;
}

footer .footer--container .footer-details .footer-details-location {
  width: 300px;
  color: var(--clr-hash);
  font-weight: var(--fw-bold);
}

footer .footer--container .footer-details .footer-details-contact {
  width: 300px;
  color: var(--clr-hash);
  font-weight: var(--fw-bold);
}

footer .footer--container .footer-details .footer-details-social {
  width: 300px;
  height: 40px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {
  footer {
    padding-top: 9em;
  }
}

.table-wrapper {
  padding: 2em;
  /*responsive*/
}

.table-wrapper .table {
  width: 100%;
  border-collapse: collapse;
}

.table-wrapper .postinsert__header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background: red;
}

.table-wrapper .table td,
.table-wrapper .table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}

.table-wrapper .table th {
  background-color: var(--clr-greeny);
  color: #ffffff;
}

.table-wrapper .table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.table-wrapper .table tbody tr:nth-child(odd) {
  background-color: #a3a3a3;
}

.table-wrapper .table_image {
  width: 50px;
  height: 50px;
}

@media (max-width: 500px) {
  .table-wrapper .table thead {
    display: none;
  }
  .table-wrapper .table,
  .table-wrapper .table tbody,
  .table-wrapper .table tr,
  .table-wrapper .table td {
    display: block;
    width: 100%;
  }
  .table-wrapper .table tr {
    margin-bottom: 15px;
  }
  .table-wrapper .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  .table-wrapper .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}

.paginatinon {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.paginatinon .btn {
  background: var(--clr-green);
  color: var(--clr-ligh);
  padding: 0.2em 0.5em;
  margin-bottom: 1em;
}

.paginatinon .active {
  background: orange;
}

.postinsert__header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.postinsert__header .postinsert__title {
  text-transform: capitalize;
  color: var(--clr-green);
}

.postinsert__header .postinsert__but {
  padding: 0.4em 0.8em;
  background: var(--clr-green);
  color: var(--clr-ligh);
  cursor: pointer;
}

.fa-trash {
  color: var(--clr-red);
  cursor: pointer;
}

.fa-edit {
  color: var(--clr-green);
  cursor: pointer;
}

form header {
  margin: 0 0 20px 0;
}

form header div {
  font-size: 90%;
  color: #999;
}

form header h2 {
  margin: 0 0 5px 0;
  color: var(--clr-ligh);
}

form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}

form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}

form > div > label,
legend {
  width: 25%;
  float: left;
  padding-right: 10px;
}

form > div > div,
form > div > fieldset > div {
  width: 75%;
  float: right;
}

form > div > fieldset label {
  font-size: 90%;
}

fieldset {
  border: 0;
  padding: 0;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
textarea {
  width: 50%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 2em;
}

input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'] {
  width: 50%;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='password']:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0;
  }
  form > div > label,
  legend {
    width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type='text'],
  input[type='email'],
  input[type='url'],
  input[type='password'],
  textarea,
  select {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  form > div > label,
  legend {
    text-align: right;
  }
}

.admin-content {
  background-image: url("/images/pe.svg");
  background-size: cover;
  background-position: center;
}

.contact__form {
  padding: 2em 0.5em;
  width: 100%;
  margin: 0 auto;
}

.contact__form form {
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5), -1px -1px 2px #aaa, 1px 1px 2px #555;
  backdrop-filter: blur(0.8rem);
  color: #f6f6f6;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: space-between;
  padding: 2em;
  border-radius: var(--border-radius);
}

.contact__form form .add-user-header {
  color: var(--clr-radish);
  align-self: flex-end;
}

.contact__form form .from-control input:focus {
  outline: none;
}

.contact__form form .from-control option {
  padding: 2em;
  font-size: 1rem;
}

.contact__form form .from-control input[type='text'],
.contact__form form .from-control input[type='email'],
.contact__form form .from-control select {
  background: linear-gradient(to bottom right, rgba(133, 123, 123, 0.2), rgba(255, 255, 255, 0.05));
  backdrop-filter: blur(0.8rem);
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.589);
  width: 100%;
  padding: 1em;
  font-size: 1rem;
  font-size: clamp(0.85rem, calc(3vw+1rem), 1rem);
  font-weight: var(--var-ligh);
  text-transform: capitalize;
}

.contact__form form .from-control:nth-last-child(1) {
  align-self: flex-end;
}

.contact__form form .from-control:nth-last-child(1) .btn {
  border: none;
}

.contact__form form .from-control ::placeholder {
  color: var(--clr-radish);
}

@media all and (min-width: 768px) {
  .contact {
    width: 80%;
    margin: 0 auto;
    padding: 4em;
    border-radius: var(--border-radius);
  }
  .contact .contact__text {
    max-width: 100%;
    padding: 0em;
    text-align: left;
  }
  .contact .contact__form {
    padding: 0em;
    width: 100%;
  }
}

@media all and (min-width: 1200px) {
  .contact__form {
    padding: 2em 0.5em;
    width: 50%;
  }
  .contact__form form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: space-between;
  }
  .contact__form form .from-control {
    margin-top: 1em;
  }
  .contact__form form .from-control input:focus {
    outline: none;
  }
  .contact__form form .from-control option {
    width: 100%;
    padding: 2em;
    font-size: 1rem;
  }
  .contact__form form .from-control input[type='text'],
  .contact__form form .from-control input[type='email'],
  .contact__form form .from-control select {
    color: var(--clr-ligh);
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.589);
    width: 100%;
    padding: 1em;
    font-size: 1rem;
    font-size: clamp(0.85rem, calc(3vw+1rem), 1rem);
    font-weight: var(--var-ligh);
    text-transform: capitalize;
    color: var(--clr-radish);
  }
  .contact__form form .from-control:nth-last-child(1) {
    align-self: flex-end;
    border: none;
  }
}

select {
  width: 100%;
  padding: 2em 0;
  background: red;
  font-size: 2rem;
  outline: none;
}

select option {
  padding: 2em;
  font-size: 1rem;
}

.alert {
  display: flex;
  justify-content: space-between;
  background: var(--clr-red);
  color: var(--clr-ligh);
  opacity: 0.7;
  padding: 1em;
}

.single-pos {
  padding: 1em;
}

.single-pos .single-pos__lefside .single-pos__title {
  color: var(--clr-ligh);
  line-height: 1.6;
}

.single-pos .single-pos__lefside .single-pos__title:hover {
  color: var(--clr-red);
}

.single-pos .single-pos__lefside .tagline {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
  color: var(--clr-lessradish);
  font-size: 0.85rem;
  font-size: clamp(0.65rem, calc(3vw+1rem), 0.85rem);
}

.single-pos .single-pos__lefside .tagline .fa,
.single-pos .single-pos__lefside .tagline .fas {
  margin-right: 2px;
  font-size: 0.75em;
  color: var(--clr-red);
  opacity: 0.8;
}

.single-pos .single-pos__lefside .tagline .fa:hover,
.single-pos .single-pos__lefside .tagline .fas:hover {
  color: var(--clr-orange);
}

.single-pos .single-pos__lefside .tagline:hover {
  color: var(--clr-orange);
}

.single-pos .single-pos__righside .pos__paragraph {
  margin-top: 1em;
  font-weight: 400;
  color: var(--clr-ligh);
}
/*# sourceMappingURL=main.css.map */